import 'package:bloc/bloc.dart';
import 'package:equatable/equatable.dart';

part '{{featureName}}_state.dart';

class {{className}}Cubit extends Cubit<{{className}}State> {
  {{className}}Cubit() : super(const {{className}}State());

  void updateMessage(String newMessage) {
    emit(state.copyWith(message: newMessage));
  }
}
