import 'package:get/get.dart';

class {{className}}Controller extends GetxController {
  var message = 'Default Message'.obs;

  void updateMessage(String newMessage) {
    message.value = newMessage;
  }
}
